
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500;600;700&display=swap');

:root {
    --body-color: hsl(43, 93%, 95%);
    --general-border: solid 3px #19120C;
    --accent-color: hsl(201, 100%, 42%);
    --accent-color-high: hsl(201, 85%, 52%);
    --delete-color: hsl(354, 64%, 54%);
}

.material-symbols-outlined#book,
.material-symbols-outlined#add-new {
    color: #fff;
    font-size: 4rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}

.read .material-symbols-outlined,
.delete .material-symbols-outlined {
    pointer-events: none;
    user-select: none;
    font-size: 3rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}

/* General reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Sometype Mono', monospace;
    line-height: 1.5;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    height: 100dvh;
    background-color: var(--body-color);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

/*************** Main container ***************/

.main-container {
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-areas:
    'header'
    'catalog';
}

.header {
    grid-area: 'header';
    position: sticky;
    z-index: 10;
    top: 0px;
    margin-top: 1rem;
    margin-inline: 2rem;
    background-color: #fff;
    border: var(--general-border);
    border-radius: 0.2rem;

    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: 1fr;
    grid-template-areas:
    'logo'
    'title'
    'buttons';
}

.catalog {
    min-height: calc(100vh - 120px);
    grid-area: 'catalog';
}

/*************** Header ***************/

.logo {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: 'logo';
    border-right: var(--general-border);
    
}

.title {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 'title';
}
.buttons {
    background-color: var(--accent-color);
    border-left: var(--general-border);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 'buttons';
}

.buttons:hover {
    background-color:var(--accent-color-high);
    transition: all 0.2s ease-in-out;
}



/*************** Catalog ***************/

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    align-items: start;
    padding: 4rem 2rem;
}

.book-card {
    border: var(--general-border);
    border-radius: 0.2rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px repeat(3, 1fr);
}
.book-card > * {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

.book-card .status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
}

.status > * {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}

.read:hover {
    color: var(--body-color);
    background-color: var(--accent-color);
    transition: all 0.2s ease-in-out;
}
.delete:hover {
    color: var(--body-color);
    background-color: var(--delete-color);
    transition: all 0.2s ease-in-out;
}

.read {
    border-right: var(--general-border);
}

.cover,
.author,
.year {
    background-color: #fff;
    border-bottom: var(--general-border);
}

.cover h2 {
    align-self: flex-start;
    color: #fff;
    mix-blend-mode:screen;
}

/*************** toggle for read button ***************/

.read.toggleOn {
    color: var(--body-color);
    background-color: var(--accent-color);
    transition: all 0.2s ease-in-out;
}

/*************** Responsive queries ***************/

@media (min-width: 1350px) {
    .catalog {
        grid-template-columns: repeat(4, 1fr);
        padding: 4rem 2rem;
    }

}