
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500;600;700&display=swap');

:root {
    --body-color: hsl(43, 93%, 95%);
    --general-border: solid 3px #19120C;
    --accent-color: hsl(201, 100%, 42%);
    --accent-color-high: hsl(201, 85%, 52%);
    --delete-color: hsl(354, 64%, 54%);
}

.material-symbols-outlined#book,
.material-symbols-outlined#add-new {
    color: #fff;
    font-size: 4rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}

.read .material-symbols-outlined,
.delete .material-symbols-outlined,
.delete.material-symbols-outlined,
.modal-read.material-symbols-outlined,
.modal-add.material-symbols-outlined {
    pointer-events: none;
    user-select: none;
    font-size: 3rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}

/******************* General reset ********************/

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Sometype Mono', monospace;
    line-height: 1.5;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    height: 100dvh;
    background-color: var(--body-color);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

/******************* Animation ********************/

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/************************* Main container *************************/

.main-container {
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-areas:
    'header'
    'catalog';
}

.header {
    grid-area: 'header';
    position: sticky;
    z-index: 10;
    top: 0px;
    margin-top: 1rem;
    margin-inline: 2rem;
    background-color: #fff;
    border: var(--general-border);
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: 1fr;
    grid-template-areas:
    'logo'
    'title'
    'buttons';
}

.catalog {
    min-height: calc(100vh - 120px);
    grid-area: 'catalog';
}

/************************* Header *************************/

.logo {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: 'logo';
    
    
}

.title {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 'title';
    border-left: var(--general-border);
    border-right: var(--general-border);

}
.add-book-btn,
.logo {
    background-color: var(--accent-color);
    /* border-left: var(--general-border); */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 'buttons';
    transition: all 0.3s ease-in-out;
}

.add-book-btn:hover,
.logo:hover {
    background-color:var(--accent-color-high);
    transition: all 0.3s ease-in-out;
}



/************************* Catalog *************************/

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    align-items: start;
    padding: 4rem 2rem;
}

.book-card {
    border: var(--general-border);
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px repeat(3, 1fr);
    transition: all 0.5s ease-in-out;
    â„
}

.book-card > * {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

.book-card .status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
}

.status > * {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.read:hover {
    color: #fff;
    background-color: var(--accent-color);
    transition: all 0.2s ease-in-out;
}

.modal-read-button:hover,
.modal-add-button:hover {
    color: #fff;
    background-color: var(--accent-color);
    transition: all 0.2s ease-in-out;
}

.delete:hover {
    color: #fff;
    background-color: var(--delete-color);
    transition: all 0.2s ease-in-out;
}

.read {
    border-right: var(--general-border);
}

.cover,
.author,
.year {
    background-color: #fff;
    border-bottom: var(--general-border);
}

.cover h2 {
    align-self: flex-start;
    color: #fff;
    mix-blend-mode:screen;
}

/************************* toggle for read button *************************/

.read.toggleOn,
.modal-read-button.toggleOn {
    color: #fff;
    background-color: var(--accent-color);
    transition: all 0.2s ease-in-out;
}

/************************* Remove book animation *************************/

.book-card.book-remove {
    animation: fade-out 0.5s forwards;
}

/************************* Modal card *************************/

.modal[open][closing] {
    pointer-events: none;
    animation: fade-out 0.5s forwards;
}

.modal[open] {
    animation: fade-in 0.5s forwards;
    position: absolute;
    margin: auto;
    border: var(--general-border);
    width: 350px;
    border-radius: 0.2rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.5s ease-in-out;
    z-index: 90;
}

.modal[open]::backdrop {
    background-color: hsl(43, 93%, 95%, 50%);
    animation: fade-in 0.5s forwards;
}

.modal[closing]::backdrop {
    background-color: hsl(43, 93%, 95%, 50%);
    animation: fade-out 0.5s forwards;
}

.modal::backdrop {
    opacity: 0.5;
    background-color: hsl(43, 93%, 95%);
}

.modal-form-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #fff;
    border-bottom: var(--general-border);
}

.modal-form-row.last > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.modal-form-row input {
    outline: none;
    border: 0;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.modal-form-row input::placeholder {
    opacity: 0.5;

}

.modal-form-row input:focus,
.modal-form-row input:hover {
    background-color: var(--accent-color);
    color: #fff;
    transition: all 0.2s ease-in;
}

.modal-form-row input:focus::placeholder,
.modal-form-row input:hover::placeholder {
    color: #fff;
}

.modal-form-row label {
    font-size: 1.5rem;
    font-weight: 500;
}

.modal-form-row button {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0;
    background-color: transparent;
}

input::-webkit-inner-spin-button {
    appearance: none;
}

.modal-form-row.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    gap: 0;
}

.modal-form-row.options > * {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button.modal-read-button {
    border-right: var(--general-border);
}

.modal-form-row.last {
    border-bottom: 0;
}

.modal-form-row.last:hover {
    color: #fff;
    background-color: var(--delete-color);
    transition: all 0.2s ease-in-out;
}

.modal-del-button:hover {
    color: #fff;
    transition: all 0.2s ease-in-out;
}

button.modal-del-button {
    align-self: flex-start;
}

/************************* Info Modal card *************************/

.info-modal[open] {
    animation: fade-in 0.5s forwards;
    margin: auto;
    padding-top: 1rem;
    background-color: #fff;
    border: var(--general-border);
    border-radius: 0.2rem;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.5s ease-in-out;
    z-index: 90;
}

.info-modal[open][closing] {
    background-color: hsl(43, 93%, 95%, 50%);
    animation: fade-out 0.5s forwards;
}

.info-modal[open]::backdrop {
    background-color: hsl(43, 93%, 95%, 50%);
    animation: fade-in 0.5s forwards;
}

.info-modal[closing]::backdrop {
    background-color: hsl(43, 93%, 95%, 50%);
    animation: fade-out 0.5s forwards;
}

.info-modal::backdrop {
    opacity: 0.5;
    background-color: hsl(43, 93%, 95%);
}

.modal-info {
    display: flex;
    flex-direction: column;
}

.modal-info.info-body {
    border-bottom: var(--general-border);
}

.info-body > * {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 4rem;
}

.material-symbols-outlined.modal-add.info,
.material-symbols-outlined.modal-read.info {
    font-size: 3rem;
    color: var(--accent-color);
}

.material-symbols-outlined.delete.info {
    font-size: 3rem;
    color: var(--delete-color);
}

.credits {
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
}

.credits a {
    text-decoration: none;
    outline: none;
    color: inherit;
}
.modal-info.info-button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal-info.info-button:hover {
    background-color: var(--delete-color);
    transition: all 0.3s ease-in-out;
}

.modal-info.info-button:hover span.info {
    color: #fff;
}

.info-button .material-symbols-outlined.delete.info {
    font-size: 3,5rem;
    color: var(--delete-color);
    padding: 1rem 0;
}
/*************** Responsive queries ***************/

@media (min-width: 1350px) {
    .catalog {
        grid-template-columns: repeat(4, 1fr);
        padding: 4rem 2rem;
    }

}

@media (max-width: 550px) {
    h1 {
        font-size: 2.5rem;
    }

    .book-card {
        grid-template-columns: 1fr;
        grid-template-rows: 150px repeat(3, 1fr);
    }

    .modal[open] {
        position:fixed;
        width: 100%;
    }

    .info-body > * {
        font-size: 1.5rem;
        font-weight: 700;
        gap: 1rem;
        padding: 1rem 2.5rem;
    }
    
    .material-symbols-outlined.modal-add.info,
    .material-symbols-outlined.modal-read.info {
        font-size: 3.5rem;
        color: var(--accent-color);
    }
    
    .material-symbols-outlined.delete.info {
        font-size: 3.5rem;
        color: var(--delete-color);
    }

}